.square {
  width: 100px;
  height: 100px;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #E17564;
  background-color: #BE3144;
  cursor: pointer;
}

.Board {
  margin-top: 350px;
  justify-items: center;
}

.reset-button {
  margin-top: 40px;
  background-color: #f30cb9;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 25px;
}

.reset-button:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.reset-button:active {
  background-color: #004085;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}

.reset-button:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.8);
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #dfdde4;
  text-align: center;
  margin: 20px 0;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h1:hover {
  color: #2196f3;
  transform: scale(1.1);
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

h1:active {
  transform: scale(0.95);
  color: #f44336;
}
